
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<h2>Hola</h2>

@section Head {
<img style="width:1000px;" alt="Bootstrap Image Preview" src="http://goo.gl/3vKZIh" />
}

<div>
    <p>Welcome everyone!!!</p>
</div>

@Html.Action("GetAdd", "BannerAdd")

@*@Html.Action("GetQuote", "Quote")*@

@Html.Partial("_FeaturedProduct")

@section Left {
<img alt="Bootstrap Image Preview" src="http://goo.gl/PwmEfp" />
}


