<form method="post" action="/Customer/Create">
    <div>
        <lable>
            First Name: <input name="FirstName" />
        </lable>
    </div>
    <div>
        <label>
            Last Name: <input name="LastName" />
        </label>
    </div>
    <div>
        <label>
            Shipping Address: <input name="Shipping Address" />
        </label>
    </div>
    <div>
        <label>
            Billing Address: <input name="Billing Address" />
        </label>
    </div>
    <input type="submit" value="Add" />
</form>
