<div class="headerDiv1">
    <div>
        <h1 class="jewel">Texas Bike Trails</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center" ng-repeat="trail in vm.trails" style="background-color:white">
            <div class="row">
                <div style="border:1px solid black">
                    <h4 style="background-color:#1e78c1; text-align:center; text-shadow: 0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 0.75px black;">Trail#: <strong>{{trail.trailnumber}}</strong></h4>
                    <h4 style="color:black">Trail: <strong>{{trail.name}}</strong></h4>
                    <h3 style="color:black">Status: <strong>{{trail.status}}</strong></h3>
                    <h5 style="color:black">Updated: <time><strong>{{trail.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a'}}</strong></time></h5>                  
                    <span style='display:inline-block !important; width: 170px; text-align: center; font-family: sans-serif; font-size: 12px; color: white; '><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Canyon, TX' title='Canyon, TX Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniStates/language/english/US/TX/Canyon.gif' alt='Find more about Weather in Canyon, TX' /></a><br /></span>
                    <!--<span style="display: inline-block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:79015.1.99999&bannertypeclick=wu_bluestripes" title="Canyon, Texas Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_bluestripes&airportcode=KAMA&ForcedCity=Canyon&ForcedState=TX&zip=79015&language=EN" alt="Find more about Weather in Canyon, TX" width="160" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:79015.1.99999&bannertypeclick=wu_bluestripes" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank"></a></span>-->
                    <!--<span style='display:inline-block !important; width: 488px; text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Canyon, TX' title='Canyon, TX Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/big2_cond/language/english/US/TX/Canyon.gif' alt='Find more about Weather in Canyon, TX' /></a><br><a href='http://www.wunderground.com' title='Get latest Weather Forecast updates' style='font-family: sans-serif; font-size: 12px;'></a></span>-->
                </div>
                <br />
            </div>
        </div>
    </div>
</div>