<div class="container">
    <div class="row">
        <div class="col-md-6" ng-repeat="trail in vm.trails">
            <div class="row">
                <div style="padding-right: 15px; border:1px solid white">
                    <button style="display:block; float:right" type="submit" value="Delete" ng-click="vm.removeTrail(trail.id)" class="btn btn-danger">X</button>                  
                    <button style="display:block; float:right" type="submit" value="Edit" ng-click="vm.addEdit(trail.id)" class="btn btn-warning">Edit</button>
                    <h4>Trail#: <strong>{{trail.trailnumber}}</strong></h4>
                    <h3>Trail: <strong>{{trail.name}}</strong></h3>
                    <h2>Status: <strong>{{trail.status}}</strong></h2>
                    <h4>Time: {{trail.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a'}}</h4>                 
                </div>
            </div>
        </div>

        <h2><strong>Edit Trail</strong></h2>
        <form ng-submit="vm.editTrail()">
            <div>
                <label>
                    Trail #: <input ng-model="vm.edit.TrailNumber">
                </label>
            </div>
            <div>
                <label>
                    Trail Name: <input ng-model="vm.edit.Name">
                </label>
            </div>
            <div>
                <label>
                    Trail Status:
                    <select name="status" ng-model="vm.edit.Status" ng-options="status for status in vm.statuses" ng-required="true"></select>
                </label>
            </div>
            <div>
                <label>
                    Update Time: <input ng-model="vm.edit.Time" type="datetime-local">
                </label>
            </div>
            <div>
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>