<div class="container">
    <div ng-controller="FilterController as vm" style="padding-top:15px">
        <ul>
            <li ng-repeat="movie in vm.movies">{{movies}}</li>
        </ul>
    </div>
</div>