<div class="container">
    <div ng-controller="FoodController as vm" style="padding-top:15px">
        <ul>
            <li ng-repeat="item in vm.food|unique">{{item}}</li>
        </ul>
    </div>
</div>