
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped table-bordered">
    <tr>
        <th>Movie Title</th>
    </tr>
    <tr>
        <td>Star Wars</td>
    </tr>
    <tr>
        <td>Momento</td>
    </tr>
</table>