<form method="post" action="/Products/Create">
    <div>
        <lable>
            Name: <input name="Name" />
        </lable>
    </div>
    <div>
        <label>
            Price: <input name="Price" />
        </label>
    </div>
    <input type="submit" value="Add" />
</form>