
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<form id="frm">
    <input id="messageInput" autocomplete="off" />
    <input type="submit" value="Add" />
</form>

<ul id="messageList"></ul>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
<script src="/signalR/hubs"></script>

<script>
    var frm = document.getElementById("frm");
    var messageInput = document.getElementById("messageInput");
    var messageList = document.getElementById("messageList");

    var chat = $.connection.chatHub;

    chat.client.sendMessage = function (message) {
        messageList.innerHTML += "<li>" + message + "</li>";
    }

    $.connection.hub.start().done(function () {
        frm.addEventListener("submit", function (e) {
            e.preventDefault();
            chat.server.sendMessage(messageInput.value);
            messageInput.value = ""; 
        });
    });
</script>